<div class="row">
  <div class="col-sm-12">
    <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-sm-12">
          <button type="submit" class="btn btn-success me-2" [disabled]="!recipeForm.valid">
            Jšsaugoti
          </button>
          <button type="button" class="btn btn-danger me-2" (click)="onCancel()">
            Atšaukti
          </button>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" name="name" id="name" class="form-control" formControlName="name" />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="imgPath">Image</label>
              <input type="text" name="imgPath" id="imgPath" class="form-control" formControlName="imgPath" #imgPath />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <img [src]="imgPath.value" alt="" class="img-fluid" />
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="description">Description</label>
              <textarea name="description" id="description" rows="6" class="form-control"
                formControlName="description"></textarea>
            </div>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-sm-12" formArrayName="ingredients">
            <div class="form-group mt-2" *ngFor="let ingredient of controls; let i = index" [formGroupName]="i">
              <div class="row">
                <div class="col-sm-8">
                  <input type="text" class="form-control" formControlName="name" />
                </div>
                <div class="col-sm-2">
                  <input type="number" class="form-control" formControlName="amount" />
                </div>
                <div class="col-sm-2">
                  <button type="button" class="btn btn-danger" (click)="onDeleteIngredient(i)">
                    Delete
                  </button>
                </div>
              </div>
            </div>
            <div class="row mt-2">
              <div class="col-sm-12">
                <button type="button" class="btn btn-success" (click)="onAddToIngredients()">
                  Pridėti ingredientą
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>